ody {
  font-family: "Josefin Sans",sans-serif;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  color: #aaaaaa;
}

.header-logo {
  margin-top: 20px;
}

hr {
    border: none;
    height: 3px!important;
    color: #aaaaaa!important;
    background-color: #aaaaaa;
}

h1 {
  font-family: "Josefin Sans", sans-serif!important;
  font-size: 60px;
  font-weight: 100!important;
  text-transform: uppercase;
  text-align: right;
}

h2 {
  font-family: "Josefin Sans", sans-serif!important;
  text-transform: uppercase;
  color: #8fa1b2!important;
}

h3 {
  font-family: "Josefin Sans", sans-serif!important;
  text-transform: uppercase;
  text-align: center;
  color: #585959!important;
  margin-bottom: 30px!important;
}

h4 {
  font-family: "Josefin Sans", sans-serif!important;
  font-size: 40px;
  text-align: right;
}

p {
  font-family: "Encode Sans Semi Condensed", sans-serif!important;
  font-size: medium!important;
  color: #585959!important;
  margin-top: 15px!important;
}

.main-work {
  margin-bottom: 30px!important;
}
